.wrapper{
    display: grid;
    grid-template-rows: auto;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url("assets/blue-snow.png");
}

@media screen and (max-width: 500px){
    body{
        zoom: 50%;
    }
    #nav-menu > ul > li{
        font-size: 2em;
    }
    p#about-txt {
        font-size: 2.5em;
    }
    .horizontal{
        width: 60%;
        height: 60%;
    }
    .vertical{
        width: 50%;
        height: 50%;
    }
}

/* *********************** */

#nav-menu > ul{
    float: right;
}
#nav-menu > ul > li{
    font-size: larger;
    font-weight: 1000;
    float: left;
    list-style-type: none;
    padding: 2em;
}
#nav-menu > ul > li > a{
    text-decoration: none;
}

/* *********************** */

#intro{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 50px;
}
.intro-item{
    height: 350px;
    grid-gap: 0em;
    margin-top: 6em;
    margin-left: 5em;
    height: 250px;
}
.intro-img{
    text-align: right;
}
.fa{
    padding: 2px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa-linkedin{
    color: #0E76A8;
}
.fa-linkedin:hover{
    color: #0E76A8;
    opacity: 0.7;
}
.fa-github{
    color:black;
}
.fa-github:hover{
    color:black;
    opacity: 0.7;
}
.fa-instagram{
    color: #E1306C;
    border-right-style: none;
}
.fa-instagram:hover{
    color: #E1306C;
    opacity: 0.7;
}
/* *********************** */

#about-txt{
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 25px;
}

/* *********************** */
.previous{
    margin: auto;
    color:#0E76A8;
    font-size: 100px;
    text-decoration: none;
    vertical-align: center;
}
.next{
    margin: auto;
    color: #0E76A8;
    font-size: 100px;
    text-decoration: none;
    vertical-align: center;
}
.grid-item{
    text-align: center;
    vertical-align: center;
}

#projects{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    border-radius: 30px;
    height: 500px;
}
.project{
    margin: auto;
    margin-top: 50px;
    
}
#project{
    width: 460px;
}
#project-txt{
    margin-top: 40px;
    color: black;
}

.card{
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    width: 480px; 
    height: 300px;
    padding: 4px;
    border-radius: 10px;
    background-color: white;
}


/* *********************** */

#blog{
    display: flex;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
    height: 520px;
}
#blog > div{
    padding: 30px;
    width: 220px;
    height: 220px;
    margin: 50px;
}
.article-card{
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    width: 270px; 
    height: 400px;
    padding: 4px;
    border-radius: 10px;
    background-color: white;
}

.article-card > img{
    width: 250px;
    height: 220px;
    border-radius: 10px;
    margin: auto;
}
.article-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

/* *********************** */

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.certName{
    text-decoration:none;
    text-align: center;
    opacity: 0.9;
    margin-bottom: 50px;
}

