body {
  background-color: #151048;
  font-family: "Josefin Sans";
  color: #22CC7E;
}

.navbar{
  background-color: #151048;
}

.navbar-brand{
  color: white;
  font-size: 30px;
}

.nav-item a {
  font-size: larger;
  text-decoration: none;
  color: #22CC7E;
}

.nav-item a:before{
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 3px;
  background-color: white;
}

.blinking {
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#resume{
  color: white;
  text-decoration: none;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .4em;
  padding-right: .4em;
  width: 6em;
  height: 2.5em;;
  border-radius: 10px;
  border: 2px solid white;
  background: transparent;
  box-shadow: transparent;
  font-size: larger;
  font-family: sans-serif;
} 

#hire-me{
  color: #EC615B;
  margin-left: 1em;
  text-decoration: none;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .4em;
  padding-right: .4em;
  width: 6em;
  height: 2.5em;
  border-radius: 10px;
  border: 2px solid #EC615B;
  background: transparent;
  box-shadow: transparent;
  font-size: larger;
  font-family: sans-serif;
}

