.heading{
    margin-right: 10%;
    margin-left: 10%;
}
p{
    margin-right: 10%;
    margin-left: 10%;
}
img{
    margin-right: 10%;
    margin-left: 10%;
}
h2{
    margin-right: 10%;
    margin-left: 10%;
}
p{
    font-size: larger;
    text-align:left;
}
button{
    color: white;
    background-color: #654321;
    font-size: 25px;
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
}
img{
    width: 40%;
}

@media screen and (min-width:700px){
    .heading{
        text-align: center;
    }
    p{
        margin-right: 20%;
        margin-left: 20%;
    }
    img{
        width: 30%;
    }
    div{
        text-align: center;
    }
    h2{
        text-align: center;
    }
}
